<!-- login.component.html -->
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-4 card p-4">
        <h1 class="text-center">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" class="form-control" formControlName="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" required>
          </div>
          <a class=" mt-2">Password Dimenticata?</a>
          <br>	
          <button type="submit" class="btn btn-primary mt-2" [disabled]="!loginForm!.valid">Login</button>



        </form>
      </div>
    </div>
  </div>
</div>

