<app-nav-bar></app-nav-bar>

<div class="p-2 text-center">
  <h2 style="color: gray" class="pl-2">News letter</h2>

  <button class="btn btn-primary" (click)="vediUtenti = !vediUtenti">
    Utenti iscritti
  </button>

  <div
    class="animazione mt-3 d-flex justify-content-center"
    style="max-height: 200px; overflow: auto"
    *ngIf="vediUtenti"
  >
    <ul class="list-group w-50">
      <li class="list-group-item" *ngFor="let item of newsLetter">
        {{ item }}
      </li>
    </ul>
  </div>

  <hr />
  <div class="p-4 mt-4 d-flex justify-content-center">
    <div class="w-75">
      <form class="card">
        <div class="card-body">
          <div class="form-group m-2">
            <label for="subject" class="mt-2 mb-2">Oggetto</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Inserisci l'oggetto"
            />
          </div>
          <div class="form-group m-2">
            <label for="message" class="mt-2 mb-2">Messaggio</label>
            <ckeditor
              style="min-height: 200px"
              [editor]="Editor"
              [(ngModel)]="messaggio"
              [ngModelOptions]="{ standalone: true }"
            ></ckeditor>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" (click)="send()">
            Invia mail
          </button>
          <button class="btn btn-danger ms-3 me-1">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
