<app-nav-bar></app-nav-bar>

<div class="p-2 text-center">
  <h2 style="color: gray" class="pl-2">Codici sconto</h2>
  <hr />
  <div class="row p-4 d-flex justify-content-center">
    <div class="w-50">
      <div class="input-group mt-4 mb-3">
        <input
          type="text"
          class="form-control border border-primary"
          placeholder="Cerca marchio"
          aria-label="Cerca marchio"
          aria-describedby="button-addon2"
          [(ngModel)]="emailDaCercare"
        />
        <button
          class="btn btn-primary border border-primary"
          type="button"
          id="button-addon2"
          (click)="cercaEmail()"
        >
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button
          class="btn btn-danger border border-primary"
          type="button"
          id="button-addon2"
          (click)="emailDaCercare = ''; cercaEmail()"
        >
          <fa-icon [icon]="faRemove"></fa-icon>
        </button>
      </div>
    </div>
    <div class="w-100 border-end">
      <div class="pt-3">
        <table class="table table-bordered border border-black">
          <thead class="table-dark">
            <tr>
              <th>Email</th>
              <th>Codice sconto</th>
              <th>Codice sconto usato</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of newsLetterSearch">
              <td>
                <p class="mt-1" style="font-size: large">
                  {{ item.email }}
                </p>
              </td>
              <td>
                <p class="mt-1" style="font-size: large">
                  {{ item.codice_sconto }}
                </p>
              </td>
              <td>
                <p class="mt-1" style="font-size: large">
                  <button
                    *ngIf="item.codice_sconto_usato"
                    class="btn btn-success"
                    disabled
                  >
                    Codice sconto utilizzato
                  </button>
                  <button
                    *ngIf="!item.codice_sconto_usato"
                    class="btn btn-danger"
                    (click)="codiceScontoUtilizzato()"
                  >
                    Codice sconto non utilizzato
                  </button>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
