<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="margin-left: 1pc;">Gestione {{user?.sito}} </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto pl-4" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(1)">Prodotti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(2)">Marchi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(3)">Materiale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(4)">Colore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(5)">Tipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(6)">News letter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="navigate(7)">Codici sconto</a>
      </li>
    </ul>
  </div>

</nav>
